.homepage-sections .col-md-6 .pic-caption .view-more {padding: 20px!important;font-size: 1em!important;line-height: 1.3333333!important;}
.bottom-to-top .view-more {position: absolute;bottom: 0;width: 100%;display: block;box-sizing: border-box;left: 0;}
.homepage-sections .row .row {margin-right: 0;margin-left: 0;}
.homepage-sections .row .row .col-md-12 {padding-right: 0;padding-left: 0;}
.view-all-btn-desktop{position:absolute;right:15px;}
.reviews-images-fancybox {display: inline-block;vertical-align: top;margin: 5px;width: 60px;max-width: 16%;}
.reviews-images-fancybox img {object-fit: cover;width: 100%;height: 60px!important;object-position: top;}
.dataTables_wrapper .dataTables_processing { position: absolute; top: 50%; left: 50%; width: 100%; margin-left: -50%; margin-top: -10px; padding: 4px; text-align: center; font-size: 1.2em; background: white;}
table#feature-body-datatable { min-height: 64px; display: block;}
.slick-prev-fa, .slick-next-fa{font-size: 0;line-height: 0;position: absolute;top: 50%;display: block;width: 20px;height: 20px;padding: 0;-webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%);transform: translate(0, -50%);cursor: pointer;color: transparent;border: none;outline: none;background: transparent;    }
.slick-prev-fa i, .slick-next-fa i{font-size: 27px;position: relative;top: -20px;}
.slick-prev-fa {left: -25px;}
.slick-next-fa{right: -25px;}.slick-dots{position: relative!important;bottom: 0px;}
.slick-dotted.slick-slider{margin-bottom: 15px;}
@media (max-width: 992px){
    #cal-day-box > .cal-row-head .span1.col-xs-1 {width: 20%;}
    #cal-day-box > .cal-row-head .span11.col-xs-11 {width: 80%;}
}
.cal-year-box .col-md-3 { width: 25%;}
.row-fluid.cal-day-hour-part [class*="span"] {display: block;float: left;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.account-form-box > div > table {table-layout: fixed; width: 100%;}
html[class*="translate"] body .select2-drop.select2-drop-above {margin-top: -39px;}
.account-form-box form .input_wrapper {position: relative;display: block;}
.modal-members-only .members-only-message {margin-top: 45px;}
.modal-members-only .members-only-message hr {display: none;}
.modal-members-only .members-only-message input {display: none;}
.modal-members-only .members-only-message .back_to_previous_page {display: none;}
.modal-members-only .close {position: relative;right: 15px;top: 10px;}
.specialty-name a{text-align: left;}
.member_profile .input_wrapper {display: inline-block; position: relative;}
.service-areas-body .input_wrapper {display: block; position: relative;}
.ratings_checks .help-block {height: 20px;line-height: 0px;display: table;width: 100%!important; padding: 9px 0px 0px 10px!important;}
.clear_content .fa {background: white;padding: 5px;}
.clear_content{color:#999;cursor:pointer;text-decoration:none;overflow:hidden;position:absolute;pointer-events:auto;z-index:100;display:block;text-align:center;right:0;bottom:0}
.clear_content.small{width:34px;line-height:30px}
.clear_content.large{line-height:44px;width:46px;font-size:19px;right:0}
.clear_content.medium{line-height:34px;width:36px}
.fill_location {color: #999;cursor: pointer;text-decoration: none;overflow: hidden;position: absolute;pointer-events: auto;z-index: 100;display: block;text-align: center;right: 0;bottom:0}
.fill_location.small{width:34px;line-height:30px}.fill_location.large{line-height:47px;width:46px;font-size:19px;right:0}
.fill_location.medium{line-height:34px;width:36px}
.sm-autosuggest span.twitter-typeahead .clear_content,.large-autosuggest .twitter-typeahead .clear_content {bottom: -4px;}
.normal-autosuggest .twitter-typeahead .clear_content {bottom: -9px;}
.md-autosuggest .twitter-typeahead .clear_content {bottom: -5px;}
.daterangepicker .calendar-table td, .daterangepicker .calendar-table th {color: #000;}
.daterangepicker .drp-calendar .calendar-table table tr .available:not(.start-date):not(.end-date) {color: #2d2d2d;}
select[name="category[]"]{display: none!important;}
#bd_hpc{position:absolute;left:-1000000px}
#bs-main_menu .navbar-nav > li > span{line-height:20px;text-align:center;padding:15px;display:block}
#popover .mini_profile_pic{width: 34px; height: 34px; margin-right: 8px; position: absolute; left: -17px; border-radius: 100px; top: -2px;}
.header-right-container .col-md-10 > a[type=button] {position: relative;padding-left: 25px;}
#member_sidebar_toggle{max-height:34px;display:none}
#myform input[type="checkbox"],#myform input[type="radio"]{margin-left:0;margin-right:2px;position:relative;vertical-align:top}
#myform .checkbox-inline,#myform .radio-inline{padding-left:0}
#myform label.checkbox,#myform label.radio,#myform .checkbox label,#myform .radio label{display:inline-block;margin-right:15px}
form .vertical-label{display:block}
input[type="file"]:focus,input[type="checkbox"]:focus,input[type="radio"]:focus,.btn-group.bootstrap-select .dropdown-toggle:focus{outline:0!important}
.account-form-box{background:#fff;border-color:#ddd;border-style:solid;border-width:0 1px 1px;padding:20px;margin-bottom:80px}
.account-form-box * > label > .fa {margin-left: 5px;color: #fff;background: #333;padding: 3px 0;border-radius: 4px;text-align: center;width: 26px}
.account-form-box * > label > .fa-globe{background:#2ab27b}
.account-form-box * > label > .fa-rss{background:#F3832A}
.account-form-box * > label > .fa-play-circle{background:#c8232c}
.account-form-box * > label > .fa-pinterest-p{background:#c8232c}
.account-form-box * > label > .fa-twitter{background:#55acee}
.account-form-box * > label > .fa-facebook{background: #3b5998}
.account-form-box * > label > .fa-linkedin{background: #1784bb}
.account-form-box * > label > .fa-google-plus{background:#c8232c}
.account-form-box * > label > .fa-instagram{background:#2d6c95}
.account-form-box * > label > .fa-calendar{background:#4484f1}
.account-menu-title{border-bottom:1px solid #ddd;font-size:24px;font-weight:600;margin-bottom:15px;padding-bottom:5px}
.align-middle{vertical-align:middle}
.badge{white-space:inherit}
.balign{vertical-align:bottom}
.bmargin{margin-bottom:10px!important}
.body-content{margin-bottom:30px}
.border-dashed{border:2px dashed #fff}
.bootstrap-filestyle.input-group .glyphicon{margin-right:5px}
.bpad{padding-bottom:10px}
.breadcrumb{background-color:transparent;font-size:85%;margin-bottom:0;margin-top:5px;padding:0 3px}
.btn{white-space:normal}
.btn.dropdown-toggle *{color:#000}
.btn-group-xl > .btn,.btn-xl{border-radius:8px;font-size:24px;line-height:1.33333;padding:14px 20px}
.circled_number{background:none repeat scroll 0 0 #444;border-radius:50%;color:#fff;font-family:arial;font-size:70px;font-weight:600;line-height:1em;margin-right:25px;padding:0 20px;text-align:center}
.clearfix-lg{margin-bottom:40px}
.close{text-shadow:none}
.container{max-width:100%}
.corner_caption{border-radius:0 6px;bottom:0;left:0;margin:0;position:absolute}
.dataTable.no-footer{border-bottom:none!important}
.datepicker *{color:#000}
.embed-responsive{position:relative!important}
.empty-holder{border-width:3px;border-style:dashed}
p .embed-responsive{clear:both;display:block!important}
.fmargin-sm{margin:5px}
.fmargin{margin:10px}
.fmargin-lg{margin:20px}
.fmargin-xl{margin:30px}
.fa{transform:rotate(0.001deg)}
.favorite{color:#333;border:1px solid #ddd;background-color:#fafafa;outline:none;white-space:nowrap;padding:2px 6px;font-size:12px;position:relative;line-height:1.5;vertical-align:middle;border-radius:3px;top:0; right:0;float:right}
.favoriteActive{color:#ef4770}
.feature-search .grid_element.well .favorite #bookmark-content{display:none}
.feature-search .grid_element.well .favorite{position:absolute; top:-5px;white-space:nowrap}
.font-lg{font-size:1.1em;font-weight:600}
.font-sm{font-size:.85em}
.footer_menu .content{color:#ccc;cursor:inherit}
.footer_menu .head{color:#fff;cursor:inherit;display:inline-block;font-size:18px;font-weight:600;margin-bottom:5px}
.footer_menu a,.footer,.footer_terms a{color:#ccc}
.footer_menu li.col-md-12{clear:both;float:none}
.footer_menu ul{list-style:outside none none;margin-bottom:40px;padding:0}
.footer_menu{list-style:outside none none;padding:0}
.footer{background:#232323;padding:40px 0}
.form-group{position:relative}
.fpad-sm,.alert.fpad-sm,.well.fpad-sm,.module.fpad-sm,.fr-view .froala-table td.fpad-sm{padding:5px}
.fpad,.alert.fpad,.well.fpad,.module.fpad,.fr-view .froala-table td.fpad{padding:10px}
.fpad-lg,.alert.fpad-lg,.well.fpad-lg,.module.fpad-lg,.fr-view .froala-table td.fpad-lg{padding:20px}
.fpad-xl,.alert.fpad-xl,.well.fpad-xl,.module.fpad-xl,.fr-view .froala-table td.fpad-xl{padding:30px}
.fr-box .fr-wrapper .fr-element.fr-view p{margin-bottom:20px}
.fr-view img.fr-dii,.fr-view img.fr-dib,.fr-view span.fr-img-caption.fr-dib,.fr-view span.fr-img-caption.fr-dii{display:block;margin:5px auto;vertical-align:top;float:none}
.fr-view img.fr-dib.fr-fir,.fr-view .fr-video.fr-dvb.fr-fvr,.fr-view span.fr-img-caption.fr-dib.fr-fir,.fr-view span.fr-img-caption.fr-dii.fr-fir{margin:0 0 10px 10px;float:right}
.fr-view img.fr-dib.fr-fil,.fr-view .fr-video.fr-dvb.fr-fvl,.fr-view span.fr-img-caption.fr-dib.fr-fil,.fr-view span.fr-img-caption.fr-dii.fr-fil{margin:0 10px 10px 0;float:left}
.fr-view table td{border:inherit;user-select:inherit;-o-user-select:inherit;-moz-user-select:inherit;-khtml-user-select:inherit;-webkit-user-select:inherit;-ms-user-select:inherit}
.fr-view .fr-box table td,.fr-view .fr-box table th{border:1px solid #DDD!important}
.fr-view .froala-table td{position:relative;min-height:1px;padding:5px 15px}
.fr-view .froala-table td .froala-table{max-width:1140px;margin:0 auto}
.fr-view .froala-table tr{margin:0 -15px;}
.fr-view hr{display:inline-block;width:100%}
.gm-control-active.gm-fullscreen-control img{left:13px}
.gm-control-active > img{top:7px!important;width:14px!important;display:none!important;height:14px!important}
.gm-control-active > img:nth-child(1){display:block!important}
.grid_element.well{max-width:100%}
.grid_element.well .mid_section h2{clear:both;padding-right:0;transform:scale(.9)}
.grid_gallery_view{overflow:hidden;height:160px}
.h1,.h2,.h3,h1,h2,h3,.h4,.h5,.h6,h4,h5,h6{word-break:normal;margin-bottom:10px;margin-top:0}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{color:inherit}
.half-width{width:50%}
.has-error .help-block:not(.form-field-help-block){background:#a94442;border-radius:2px;color:#fff!important;padding:3px 10px;width:auto}
.header .navbar{margin-bottom:0}
.header ul.nav.navbar-nav li ul li a:hover{background:#fff none repeat scroll 0 0;box-shadow:none}
.header ul.nav.navbar-nav li ul li a{font-size:.95em;border-bottom:1px solid rgba(0,0,0,0.1);color:#444;display:block;font-weight:600;padding:5px 10px;text-decoration:none}
.header ul.nav.navbar-nav li ul li ul{display:none;position:absolute;top:-10px;left:100%}
.header ul.nav.navbar-nav li ul li:hover > ul{display:block}
.header ul.nav.navbar-nav li ul li{position:relative}
.header ul.nav.navbar-nav > li:last-child ul{right:0}
.header ul.nav.navbar-nav li ul{background:#fafafa;display:none;border-radius:0 0 5px 5px;box-shadow:0 1px 2px rgba(0,0,0,0.2);list-style:outside none none;padding:10px;position:absolute;white-space:nowrap;min-width:100%;width:auto}
.header ul.nav.navbar-nav li:hover > ul{display:block;z-index:10000}
.header{background:#f7f7f7;margin-bottom:0}
.hmargin{margin-left:10px;margin-right:10px}
.homepage-sections .col-md-3 .pic .pic-caption p{display:none}
.homepage_map h1{font-size:42px}
.homepage_map h2{font-size:32px}
.homepage_settings .search_box label{color:#fff;font-size:20px;margin-bottom:10px}
.homepage_settings h1{font-size:66px;font-weight:600;letter-spacing:-2px;line-height:1.1em;margin-bottom:20px;text-shadow:-1px 1px 3px rgba(0,0,0,0.2),-2px 2px 6px rgba(0,0,0,0.3)}
.homepage_settings h2{font-size:28px}
.homepage_settings{padding:60px 0 90px}
.homepage_steps .fa{font-size:54px}
.homepage_steps{box-shadow:0 1px 3px rgba(0,0,0,0.15);background:#f7f7f7;color:#636363;font-size:18px;padding:15px 0}
.homepage_steps a.homepage_step_link:hover p,.homepage_steps a.homepage_step_link:hover h3{opacity:.75}
.hpad{padding-left:10px;padding-right:10px}
.inline-block{display:inline-block}
.input-group-addon{min-width:40px}
.input_wrapper,.input_wrapper input.form-control{width:100%!important}
.input-group .input_wrapper input.form-control{border-radius:0 4px 4px 0!important}
.input-group-sm .input_wrapper input.form-control{border-radius:0 3px 3px 0!important}
.input-group-lg .input_wrapper input.form-control{border-radius:0 6px 6px 0!important}
.lmargin{margin-left:10px}
.line-height-lg{line-height:1.4em!important}
.header-right-container .list-social-links{margin-right:-5px}
.header-right-container .list-social-links .network-icon{margin-left:-5px;transform:scale(0.85)}
label.bd-checkbox, label.bd-radio {display:block!important;}
.line-height-xl{line-height:1.71em!important}
.logo .fa{font-size:48px;margin-top:5px;margin-right:10px}
.logo .slogan{color:#989898;display:block;font-size:.5em;font-weight:400;line-height:.7em;letter-spacing:0}
.logo,.logo:hover{font-size:36px;line-height:1em;font-weight:600;text-decoration:none!important;display:block;letter-spacing:-1px}
.lpad{padding-left:10px}
.malign{vertical-align:middle}
.map-mascot{bottom:0;left:0;max-width:195px!important;position:absolute!important}
.member_accounts h1{position:relative}
.member_accounts div.dataTables_wrapper select,.member_accounts div.dataTables_wrapper label,.member_accounts div.dataTables_wrapper input{font-weight:400;margin-top:0;margin-bottom:0;width:auto!important}
.member_accounts div.dataTables_wrapper .status-select{float:right}
.member_accounts div.dataTables_info,.member_accounts div.dataTables_paginate{font-size:12px}
.member_admin_sidemenu .list-group-item{padding-top:5px;padding-bottom:5px;font-size:13px}
.member_admin_sidemenu .panel-default > .panel-heading a{padding:0;font-size:14px}
.member_results h3 span,.member_results h2 span{color:#666;font-size:.6em}
.member_results .grid_element.well .favorite{float:none;margin:5px auto}
.member_results .member-search-full-name:after{display:inline-flex;margin-bottom:10px;content:" "}
.member_results .member-search-full-name{display:initial}
.mid_section h2{padding-right:20px}
.mini-nav li a.link{color:#444}
.module h3,.module h4{font-size:20px;font-weight:600}
.module p{margin-bottom:10px}
.modal-content{overflow:hidden}
.modal-content .security_question_label label{display:none}
.modal-content .module.member-login-container{background:rgba(0,0,0,0) none repeat scroll 0 0;border:medium none;border-radius:0;padding-bottom:25px;padding-top:0}
.modal-body{width:100%}
.module{background:#fafafa;border-color:#eee;border-image:none;border-radius:6px;border-style:solid;border-width:1px;padding:15px;width:100%;margin-bottom:30px}
.navbar-default .navbar-nav > li > a{color:#fff;font-size:16px}
.navbar-default .navbar-nav > li:hover,.navbar-default .navbar-nav > li:focus{color:#fff;box-shadow:0 0 20px 20px rgba(0,0,0,0.05) inset}
.navbar-default .navbar-nav > li:last-child{border-right:none}
.navbar-default .navbar-nav > li{border-right:1px solid rgba(0,0,0,0.1)}
.nav-tabs > li > a{margin-right:5px;font-weight:600;border-bottom:medium none!important}
.network-icon i{color:#fff}
.network-icon.blog{background-color:#F3832A}
.network-icon.contact{background:#2ab27b}
.network-icon.facebook{background:#3b5998}
.network-icon.googleplus{background:#c8232c}
.network-icon.instagram{background:#2d6c95}
.network-icon.linkedin{background:#1784bb}
.network-icon.pinterest{background:#c8232c}
.network-icon.twitter{background:#55acee}
.network-icon.vimeo{background-color:#1AB7EA}
.network-icon.youtube{background:#c8232c}
.network-icon{background:#757575;margin-bottom:5px;border-color:#757575;border-radius:100%;color:#fff;display:inline-block;font-size:22px;height:40px;margin-right:5px;padding:4px 0;text-align:center;width:40px}
.nobmargin{margin-bottom:0!important}
.nobpad{padding-bottom:0!important}
.nofloat,.float-none{float:none!important}
.nohover:hover{opacity:1;background-color:#337ab7}
.nohpad{padding-left:0!important;padding-right:0!important}
.nolpad{padding-left:0!important}
.nomargin,.table th h2{margin:0!important}
.nopad{padding:0!important}
.norpad{padding-right:0!important}
.notmargin{margin-top:0!important}
.notpad{padding-top:0!important}
.novpad{padding-top:0!important;padding-bottom:0!important}
.no-radius{border-radius:0px!important}
.no-radius-bottom{border-bottom-left-radius:0px!important;border-bottom-right-radius:0px!important}
.no-radius-top{border-top-left-radius:0px!important;border-top-right-radius:0px!important}
.pagehead h1{font-size:44px;font-weight:600}
.pagehead h2{font-size:38px;font-weight:600}
.pagehead{margin:10px 20px 30px;text-align:center}
.photo_albums_single li.thumbnail{min-height:370px}
.pic .pic-image,.pic-caption,.pic:hover .pic-caption,.pic:hover img{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}
.pic:hover .pic-caption,.pic:hover .top-to-bottom,.pic:hover .left-to-right,.pic:hover .right-to-left,.pic:hover .rotate-in,.pic:hover .rotate-out,.pic:hover .open-up,.pic:hover .open-down,.pic:hover .open-left,.pic:hover .open-right,.pic:hover .come-left,.pic:hover .come-right{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-moz-touch-callout:none;-o-touch-callout:none;-ms-touch-callout:none;touch-callout:none;-webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;-o-tap-highlight-color:transparent;-ms-tap-highlight-color:transparent;tap-highlight-color:transparent}
.pic:hover .pic-caption{top:0!important}
.pic .pic-caption{left:0;top:79%}
.pic{border-radius:8px;height:197px;width:100%;position:relative;overflow:hidden;display:inline-block;-webkit-animation:anima 2s;-moz-animation:anima 2s;-o-animation:anima 2s;-ms-animation:anima 2s;animation:anima 2s;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;background-repeat:no-repeat;background-position:center center;background-size:cover;background-image:url(/images/image-placeholder.jpg);background-color:#ededed;box-shadow:0 0 10px 0 rgba(0,0,0,.05) inset}
.pic .pic-caption{cursor:default;position:absolute;width:100%;height:100%;padding:0 10px 15px;text-align:center;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:.9;color:#fff}
.pic .pic-caption hr{opacity:.3;width:75%}
.pic .pic-caption .pic-title{margin-top:10px;font-size:18px;line-height:1.3em;height:24px;overflow:hidden;-webkit-transition:all .5s linear;-moz-transition:all .5s linear;-o-transition:all .5s linear;-ms-transition:all .5s linear;transition:all .5s linear}
.pic:hover .pic-title{margin-top:7%;height:auto;overflow:visible}
.popover-content{text-align:center}
.pricing_menu > li{vertical-align:top;list-style:outside none none;margin-bottom:30px;text-align:center;float:none;display:inline-block;margin-left:0}
.pricing_menu li ul li span,.pricing_menu li ul li a:not(.btn){border-top:1px solid #eee;color:#666;display:block;font-size:15px;line-height:1em;min-height:15px;padding:12px 0;width:100%}
.pricing_menu li .price{background:#fafafa;border:0;color:#666;display:block;font-size:26px;font-weight:600;line-height:1.5em;padding:5px 0 0}
.pricing_menu li .sub-price{background:#fafafa;border:0;color:#666;display:block;font-size:16px;font-weight:600;line-height:1.5em;padding:0 0 10px}
.pricing_menu li .title{border-radius:8px 8px 0 0;color:#fff;display:block;font-size:34px;line-height:1em;padding:20px 15px}
.pricing_menu li a{text-decoration:none!important}
.pricing_menu li ul li:nth-child(2n){background:#fafafa}
.pricing_menu li ul li{border-left:1px solid #eee;border-right:1px solid #eee;cursor:inherit;list-style:outside none none}
.pricing_menu li ul{background:#fff;border-bottom:1px solid #eee;box-shadow:0 0 1rem rgba(0,0,0,0.15);border-radius:0 0 8px 8px;margin:0}
.pricing_menu,.pricing_menu > li ul{text-align:center;padding:0}
.quote_box{background-image:url(/images/icon-quote.png);background-position:15px center;background-repeat:no-repeat;font-family:georgia;font-size:24px;font-style:italic;padding-left:70px!important}
.relative{position:relative}
.right_arrow:before{content:"\f0a9";font-family:FontAwesome;font-size:2em;position:absolute;right:10px;top:0}
.right_arrow{padding-right:7%;position:relative}
.rmargin{margin-right:10px}
.rpad{padding-right:10px}
.rsDefault .rsThumb img{opacity:.6!important}
.rsDefault .rsThumb.rsNavSelected img,.rsDefault .rsThumb img:hover{opacity:1!important}
.rsDefault .rsThumb.rsNavSelected{background:transparent!important}
.search_box form.form-inline .input-group{display:flex}
.star_rating .fa{vertical-align:baseline;color:#ffdb14;font-size:1.2em;margin-right:2px}
.tab-content h2,.table th h2{font-size:24px;font-weight:600}
.tab-content{background:#fff;border-color:#ddd;border-style:solid;border-width:0 1px 1px;padding:15px;border-radius:0 0 4px 4px;margin-bottom:60px}
.table-view .member_social_icons a i,.member_social_icons a i{font-size:19px;position:relative;top:-6px}
.table-view .member_social_icons a,.member_social_icons a{width:30px;height:30px;margin-bottom:0}
.table-view li{word-wrap:break-word;padding:10px}
.table-view .table-view-group{float:left;width:100%}
.table-view{display:inline-block;width:100%;margin:0}
.tag-cloud{padding:0;list-style:none}
.tag-cloud li{display:inline-block;margin:5px}
.tag-cloud li a{padding:5px 10px;border-radius:4px;font-size:12px;border:1px solid transparent}
.tags a:before{content:"\f02b";font-family:FontAwesome;left:7px;opacity:.4;position:absolute}
.tags a {border-radius: 3px;display: inline-block;padding: 2px 12px 2px 20px;position: relative;font-size: 12px;margin: 2px;line-height: 1.5em}
.talign{vertical-align:top}
.timepicker-hour,.timepicker-minute{color:#000}
.tmargin{margin-top:10px}
.tpad{padding-top:10px}
.account-form-box .ui-sortable .ui-sortable-handle:nth-child(3n+1){clear:left}
.video__play_link img:hover{opacity:1}
.video__play_link img{opacity:.9;-webkit-transition:all 150ms ease-out 0;-moz-transition:all 150ms ease-out 0;-o-transition:all 150ms ease-out 0;transition:all 150ms ease-out 0}
.video__play_link:after{background:#303030;border-radius:8px;color:#fff;content:"\f04b";cursor:pointer;cursor:hand;font-family:FontAwesome;font-size:24px;font-style:normal;font-weight:400;left:50%;margin-left:-27px;opacity:.95;padding:2px 17px;position:absolute;text-align:center;text-decoration:inherit;top:37%;-webkit-transition:all 150ms ease-out 0;-moz-transition:all 150ms ease-out 0;-o-transition:all 150ms ease-out 0;transition:all 150ms ease-out 0}
.video__play_link:hover::after{background:#cc181e}
.video__play_link{position:relative;display:block}
.vmargin{margin-top:10px;margin-bottom:10px}
.vpad{padding-top:10px;padding-bottom:10px}
.visible{opacity:1!important}
.well{margin-bottom:30px;padding:15px}
a:focus,.btn.active.focus,.btn.active:focus,.btn.focus,.btn.focus:active,.btn:active:focus,.btn:focus{outline:medium none;outline-offset:0}
a:hover,a:focus,a:active{text-decoration:none}
body{font-family:arial,sans-serif}
img{height:auto;max-width:100%}
nav{border:medium none!important;border-radius:0!important}
p.account-tip{background:url(/images/tip-icon.png) no-repeat scroll 10px center rgba(0,0,0,0.03);border-radius:5px;display:block;float:left;margin-bottom:20px;padding:10px 10px 10px 35px;width:100%}
select option[disabled]:first-child{display:none}
ul.nav.nav-pills.locations li .btn-group{margin-bottom:5px}
.ui-editRangeSlider-inputValue{width:2em;text-align:center;font-size:15px}
.ui-rangeSlider .ui-ruler-scale{position:absolute;top:0;left:0;bottom:0;right:0}
.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-inner{color:#fff;margin-top:1px;border-left:1px solid #fff;height:29px;padding-left:2px;position:relative}
.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-label{position:absolute;bottom:6px}
.ui-rangeSlider .ui-ruler-scale1 .ui-ruler-tick-inner{border-left:1px solid #fff;margin-top:25px;height:5px}
.ui-rangeSlider .ui-ruler-tick{float:left}
.ui-rangeSlider,.ui-rangeSlider-container,.ui-rangeSlider-arrow{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.ui-rangeSlider{height:35px;padding-top:24px}
.ui-rangeSlider-arrow{width:14px;cursor:pointer}
.ui-rangeSlider-arrow-inner{position:absolute;top:50%;border:10px solid transparent;width:0;height:0;margin-top:-10px}
.ui-rangeSlider-bar{background:#68a1d6;height:20px;top:-1px!important;margin:1px 0;-moz-border-radius:4px;cursor:move;cursor:grab;cursor:-moz-grab}
.ui-rangeSlider-container,.ui-rangeSlider-arrow,.ui-rangeSlider-label{background:rgba(0,0,0,0.5);background:-moz-linear-gradient(top,#67707F 0%,#888DA0 100%)}
.ui-rangeSlider-container,.ui-rangeSlider-arrow{height:20px}
.ui-rangeSlider-container{background:rgba(0,0,0,0.3)!important}
.ui-rangeSlider-disabled .ui-rangeSlider-bar{background:#93aeca}
.ui-rangeSlider-disabled .ui-rangeSlider-container,.ui-rangeSlider-disabled .ui-rangeSlider-arrow{border-top-color:#49576b;border-bottom-color:#9ca7b3}
.ui-rangeSlider-disabled .ui-rangeSlider-container,.ui-rangeSlider-disabled .ui-rangeSlider-arrow,.ui-rangeSlider-disabled .ui-rangeSlider-label{background:#95a4bd;background:-moz-linear-gradient(top,#95a4bd 0%,#b2bbd8 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#95a4bd),color-stop(100%,#b2bbd8))}
.ui-rangeSlider-disabled .ui-rangeSlider-label-inner{border-top-color:#b2bbd8}
.ui-rangeSlider-disabled .ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner,.ui-rangeSlider-disabled .ui-rangeSlider-leftArrow:hover .ui-rangeSlider-arrow-inner{border-right-color:#bbc0cf}
.ui-rangeSlider-disabled .ui-rangeSlider-leftArrow{border-left-color:#8792a2}
.ui-rangeSlider-disabled .ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner,.ui-rangeSlider-disabled .ui-rangeSlider-rightArrow:hover .ui-rangeSlider-arrow-inner{border-left-color:#bbc0cf}
.ui-rangeSlider-disabled .ui-rangeSlider-rightArrow{border-right-color:#8792a2}
.ui-rangeSlider-disabled.ui-rangeSlider-noArrow .ui-rangeSlider-container{border-color:#8490a3}
.ui-rangeSlider-handle{width:10px;height:30px;background:transparent;cursor:pointer}
.ui-rangeSlider-innerBar{width:110%;height:100%;left:-10px;overflow:hidden}
.ui-rangeSlider-label{padding:2px 5px;bottom:38px;border-radius:4px;font-weight:600;color:#fff;font-size:11px;background:rgba(0,0,0,0.2);cursor:pointer}
.ui-rangeSlider-label-inner{position:absolute;top:100%;left:50%;display:block;z-index:99;border-left:10px solid transparent;border-right:10px solid transparent;margin-left:-10px}
.ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner{border-right:8px solid #a4a8b7;left:0;margin-left:-8px}
.ui-rangeSlider-leftArrow:hover .ui-rangeSlider-arrow-inner{border-right:8px solid #b3b6c2}
.ui-rangeSlider-leftArrow{border-radius:4px 0 0 4px;border-left:solid 1px #515862}
.ui-rangeSlider-noArrow .ui-rangeSlider-container{border-left:solid 1px transparent;border-right:solid 0 transparent}
.ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner{border-left:8px solid #a4a8b7;right:0;margin-right:-8px}
.ui-rangeSlider-rightArrow:hover .ui-rangeSlider-arrow-inner{border-left:8px solid #b3b6c2}
.ui-rangeSlider-rightArrow{border-radius:0 4px 4px 0;border-right:solid 1px #515862}
.ui-rangeSlider-withArrows .ui-rangeSlider-container{margin:0 15px}
.weight-bold,.strong,strong,.bold,b,optgroup,dt,kbd kbd,label,.label,.badge,.alert .alert-link,.close,.fr-view strong,.fr-view a.fr-strong,a.fr-view.fr-strong{font-weight:600}
.weight-bold-lg{font-weight:700}
.weight-bold-xl{font-weight:800}
.weight-bold-xxl{font-weight:900}
.weight-light{font-weight:300}
.weight-normal{font-weight:400}
@media only screen and (max-width: 1100px) {
    .header{margin-top:50px}
    .header nav.navbar-default{position:fixed;top:0;width:100%;z-index:3000}
    .header ul.nav.navbar-nav li ul li a{padding:3px 10px!important}
    .header ul.nav.navbar-nav li ul li ul{top:0!important;left:0!important}
    .header ul.nav.navbar-nav li ul{padding-top:5px;border-radius:0;width:100%!important;position:relative!important}
    .md-bmargin{margin-bottom:10px}
    .md-tmargin{margin-top:10px}
    .navbar-default .navbar-toggle .icon-bar{background-color:#fff}
    .navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:transparent;box-shadow:0 0 100px rgba(0,0,0,0.2) inset}
    .navbar-default .navbar-toggle{border-color:rgba(0,0,0,0.15);box-shadow:0 0 100px rgba(0,0,0,0.1) inset}
    .nav-justified > li > a{text-align:left;border:none!important;margin:0}
    .navbar-nav{margin:0}
    .header .navbar-header{width:100%;margin-left:0;margin-right:0}
}
@media only screen and (max-width: 1200px) {
    .lg-bmargin{margin-bottom:10px}
    .lg-tmargin{margin-top:10px}
}
@media only screen and (max-width: 991px) {
    #member_sidebar_toggle{display:block!important}
    .form-inline .form-group{margin-bottom:15px}
    .pricing_menu > li.col-md-4{display:block}
    .sm-block{display:block;width:100%}
    .sm-bmargin{margin-bottom:10px}
    .sm-tmargin{margin-top:10px}
    .sm-form-bmargin{margin-bottom:15px!important}
    .sm-modal-tmargin{margin-top:65px}
    .sm-nomargin{margin:0!important}
    .sm-nopad{padding:0!important}
    .sm-norpad{padding-right:0!important}
    .sm-nolpad{padding-left:0!important}
    .sm-text-center{text-align:center!important;float:none!important}
    .sm-btn-block,.sm-center-block{float:left!important;display:block!important;width:100%!important;max-width:none!important}
}
@media only screen and (max-width: 767px) {
    #bs-main_menu .navbar-nav > li > span{padding:10px 15px;text-align:left}
    .corner_caption{border-radius:0 0 6px 6px;width:100%}
    .control-label{text-align:left;width:100%}
    .fr-view img{margin-right:auto!important;margin-left:auto!important;height:auto!important;float:none!important;display:block}
    .fr-view .froala-table td{display:block;width:100%!important}
    .fr-view .froala-table tr{margin:0}
    .fr-view span.fr-img-caption.fr-dib,.fr-view span.fr-img-caption.fr-dii,.fr-view .fr-video.fr-dvb.fr-fvr,.fr-view span.fr-img-caption.fr-dib.fr-fir,.fr-view span.fr-img-caption.fr-dii.fr-fir,.fr-view .fr-video.fr-dvb.fr-fvl,.fr-view span.fr-img-caption.fr-dib.fr-fil,.fr-view span.fr-img-caption.fr-dii.fr-fil{width:100%!important}
    .g-recaptcha{transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0}
    .gm-control-active > img{left:7px!important}
    .half-width{width:100%}
    .header .logo{font-size:28px!important}
    .homepage_settings h1{font-size:36px!important}
    .homepage_settings h2{font-size:24px!important}
    .logo .slogan{line-height:1.3em!important}
    .member_accounts div.dataTables_wrapper > div,.member_accounts div.dataTables_wrapper .status-select,.member_accounts div.dataTables_paginate,.member_accounts div.dataTables_wrapper label,.member_accounts div.dataTables_wrapper select,.member_accounts div.dataTables_wrapper input{margin:0!important;width:100%!important;display:inline-block;font-weight:400;float:none!important}
    .member_accounts div.dataTables_wrapper select,.member_accounts div.dataTables_wrapper input{margin:5px auto 0!important}
    .member_accounts div.dataTables_info,.member_accounts div.dataTables_paginate{text-align:center}
    .pricing_menu > li{display:block}
    .star_rating > span{display:block!important}
    .subSubCat > a{text-align:left;text-indent:5%;width:100%}
    .table-view li:nth-child(2n){border:0 none;padding-top:0}
    .table-view li:nth-child(2n-1){padding-bottom:0}
    .table-view li{display:block!important;max-width:none!important;width:100%!important;text-align:center!important;min-height:0}
    .xs-bmargin{margin-bottom:10px}
    .xs-tmargin{margin-top:10px}
    .xs-vmargin{margin-top:10px;margin-bottom:10px}
    .xs-nomargin{margin:0!important}
    .xs-nopad{padding:0!important}
    .xs-text-center,.breadcrumb{text-align:center!important}
    .xs-text-left{text-align:left!important}
    .xs-text-right{text-align:right!important}
    .xs-btn-block,.xs-center-block{float:left!important;display:block!important;width:100%!important;max-width:none!important}
}
.form-inline textarea[name="about_me"]{width:100%;}
.fr-view .fr-video.fr-dvi.fr-fvl{margin:0 10px 10px 0;float: left;}
div:not(.fr-element) p .fr-video.fr-dvi.fr-fvr{margin:0 0 10px 10px;float: right;display: inline-table!important;padding-bottom: 0;}
div:not(.fr-element) p .fr-video.fr-dvi.fr-fvl{margin:0 10px 10px 0;float: left;display: inline-table!important;padding-bottom: 0;}
#first_container .fr-video iframe.embed-responsive-item {position: relative;}
iframe{max-width:100%}